@model CreateVoteViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create New Vote";
}

<h2>Create New Multi-criteria Evaluation</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label"></label>
                <input asp-for="StartDateTime" class="form-control" />
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EndDateTime" class="control-label"></label>
                <input asp-for="EndDateTime" class="form-control" />
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="UsersIDs">Select Participants</label>
        <select asp-for="UsersIDs" class="form-control" asp-items="Model.Contacts" multiple size="5">

        </select>
        <span asp-validation-for="UsersIDs" class="text-danger"></span>
    </div>

    <h4>Alternatives</h4>
    <div id="alternatives-container">
        @for (int i = 0; i < Model.Alternatives.Count; i++)
        {
            <div class="alternative-item border p-3 mb-3">
                <h5>Alternative @(i + 1)</h5>
                <div class="form-group">
                    <label class="control-label">Alternative Name</label>
                    <input asp-for="Alternatives[i]" class="form-control" />
                    <span asp-validation-for="Alternatives[i]" class="text-danger"></span>
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <button type="button" id="add-alternative" class="btn btn-secondary">Add Alternative</button>
    </div>

    <h4>Evaluation Criteria</h4>
    <div id="criteria-container">
        @for (int i = 0; i < Model.Criteria.Count; i++)
        {
            <div class="criteria-item border p-3 mb-3">
                <h5>Criterion @(i + 1)</h5>
                <div class="form-group">
                    <label asp-for="Criteria[i].Title" class="control-label"></label>
                    <input asp-for="Criteria[i].Title" class="form-control" />
                    <span asp-validation-for="Criteria[i].Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Criteria[i].Description" class="control-label"></label>
                    <textarea asp-for="Criteria[i].Description" class="form-control"></textarea>
                    <span asp-validation-for="Criteria[i].Description" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Criteria[i].Importance" class="control-label"></label>
                            <input asp-for="Criteria[i].Importance" class="form-control" />
                            <span asp-validation-for="Criteria[i].Importance" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Criteria[i].MinValue" class="control-label"></label>
                            <input asp-for="Criteria[i].MinValue" class="form-control" />
                            <span asp-validation-for="Criteria[i].MinValue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Criteria[i].MaxValue" class="control-label"></label>
                            <input asp-for="Criteria[i].MaxValue" class="form-control" />
                            <span asp-validation-for="Criteria[i].MaxValue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Criteria[i].StepValue" class="control-label"></label>
                            <input asp-for="Criteria[i].StepValue" class="form-control" />
                            <span asp-validation-for="Criteria[i].StepValue" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="form-group">
        <button type="button" id="add-criteria" class="btn btn-secondary">Add Criterion</button>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script>
        // Add Alternative functionality
        document.getElementById('add-alternative').addEventListener('click', function() {
            const container = document.getElementById('alternatives-container');
            const index = container.children.length;

            const newAlternative = `
                <div class="alternative-item border p-3 mb-3">
                    <h5>Alternative ${index + 1}</h5>
                    <div class="form-group">
                        <label class="control-label">Alternative Name</label>
                        <input name="Alternatives[${index}]" class="form-control" />
                    </div>
                </div>
            `;

            container.insertAdjacentHTML('beforeend', newAlternative);
        });

        document.getElementById('add-criteria').addEventListener('click', function() {
            const container = document.getElementById('criteria-container');
            const index = container.children.length;

            const newCriteria = `
                <div class="criteria-item border p-3 mb-3">
                    <h5>Criterion ${index + 1}</h5>
                    <div class="form-group">
                        <label class="control-label">Title</label>
                        <input name="Criteria[${index}].Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea name="Criteria[${index}].Description" class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Importance</label>
                                <input name="Criteria[${index}].Importance" class="form-control" value="100" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Min Value</label>
                                <input name="Criteria[${index}].MinValue" class="form-control" value="0" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Max Value</label>
                                <input name="Criteria[${index}].MaxValue" class="form-control" value="10" />
                            </div>
                        </div>
                    </div>
                </div>
            `;

            container.insertAdjacentHTML('beforeend', newCriteria);
        });
    </script>
}