@model IEnumerable<TaskViewModel>
@inject SignInManager<DBApplicationUser> SignInManager
@{
    ViewData["Title"] = "Завдання";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>@ViewData["Title"]</h2>

    <p>
        <a asp-action="Create" class="btn btn-primary" asp-route-returnurl="@Context.Request.Path">Створити</a>
    </p>

    @await Html.PartialAsync("_Tasks")
}